@import "tailwindcss";


/* test */
@theme {
  --color-primary: #1c6b36;
  --color-secondary: #c29a4b;
  --color-accent: #60a5fa;
  --color-muted: #9ca3af;
  --color-bg: #060e09;
  --color-bg-alt: #0c1a10;
  --color-bg-deep: #050905;
  --color-text: #ffffff;
  --color-text-muted: #d1d5db;
  --color-border: rgba(255, 255, 255, 0.1);
  --color-border-muted: #374151;
}

:root {
  --color-primary: #1c6b36;
  --color-secondary: #c29a4b;
  --color-accent: #60a5fa;
  --color-muted: #9ca3af;
  --color-bg: #060e09;
  --color-bg-alt: #0c1a10;
  --color-bg-deep: #050905;
  --color-text: #ffffff;
  --color-text-muted: #d1d5db;
  --color-border: rgba(255, 255, 255, 0.1);
  --color-border-muted: #374151;
} 

